<li>
    <div class="circle--fluid">
        <div class="circle--fluid--cell circle--fluid--primary">
            <a class="app--tweet--author">
                  <div class="app--avatar" style="background-image: url(images/f-spore.png)">
<img src="images/f-spore.png" />
</div>
<h4>{{userName}}</h4>
<p>@{{userID}}</p>
</a>
</div>
<div class="circle--fluid--cell">
    <a class="button button-text">Unfollow</a>
</div>
</div>
</li>