<div class="grid-33">
  <div class="app--section">
    <ul class="app--tweet--list">
      <!-- Timeline View here -->
    </ul>
  </div>

</div>
<div class="grid-33">
  <div class="app--section">
    <ul class="app--user--list">
      <!-- following view here -->

    </ul>
  </div>
</div>
<div class="grid-33">
  <div class="app--section">
    <!-- conversation view here -->
    <ul class="app--message--list">
      <li>
        <h3>Conversation with <a>_name_</a></h3>
        <ul class="app--message--conversation">

        </ul>
      </li>

    </ul>




  </div>
</div>